.Gridview1 {
    align-items:center;
    text-align:center;
}
.btn-btn1 {
    float: right;
    background-color: #82A70C;
    margin-top:30px;
    margin-right: 100px;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}
    .btn-btn1:hover {
        box-shadow: inset 350px 0 0 0 lightgrey;
        color: black;
    }
