#Content2 {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#ffd800, #4cff00);
    height: 4000px;
    overflow: hidden;
}

.center {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: white;
    margin-left: 400px;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    width: 300px;
}

.center h2 {
    text-decoration-style:wavy;
    text-align:center;
}

form .text_field {
    text-align: center;
}
form .box1 {
    text-align: center;
}
form .box2 {
    text-align: center;
}
form .check_box {
    margin-left:55px;
}
form .btn-4 {
    margin-left: 5%;
    width: 40%;
    height: 35px;
    border: 1px;
    background-color: Highlight;
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
form .btn-3 {
    margin-left: 5%;
    width: 40%;
    height: 35px;
    border: 1px;
    background-color: ghostwhite;
    border-radius: 20px;
    font-size: 15px;
    color: blue;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}


