
/*.center {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid;
    border-radius: 10px;
    border-color: silver;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    width: 30%;
}*/
.center {
    
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid silver;
    border-radius: 10px;
    border-color: silver;
    margin-left:400px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    width: 350px;
}
.titlehead {
    text-decoration-style: wavy;
    text-align: center;
}
form .text_field {
    text-align: center;
}
.box1 {
    text-align: center;
}
.box2 {
    text-align: center;
}
.check_box{
    margin-left:40px;
}
.btn-4 {   
    width: 90px;
    height: 40px;
    margin-left:50px;
    border: 1px;
    background-color: Highlight;
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
.btn-3 {
    margin-left:35px;
    width: 120px;
    height: 35px;
    border: 1px;
    background-color: ghostwhite;
    border-radius: 20px;
    font-size: 15px;
    color: blue;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.LabelError{
    margin-left:100px;
}
/*


form .box1 {
    text-align: center;
}
form 
form .check_box {
    margin-left:80px;
}
form .btn-4 {
    margin-left: 5%;
    width: 30%;
    height: 35px;
    border: 1px;
    background-color: Highlight;
    border-radius: 5px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
form */
.Valid1 {
    margin-left: 50px;
}
